<%-include("partials/header.ejs") %>
 <%-include("partials/navbar.ejs") %>

<div class="container">
  <div class="row mt-5">
    <h3 class="text-primary">This is home page</h3>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae rerum
      quam blanditiis, nihil laboriosam! Explicabo perferendis id repellat rem.
    </p>
  </div>
</div>

<%- include("partials/footer.ejs") %>
